"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "flow-ide"
      "tree-view"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  "exception-reporting":
    userId: "46267c76-7c78-487f-a8af-1311842452b8"
  "linter-ui-default":
    showPanel: true
  "vim-mode-plus":
    ignoreCaseForSearch: true
    incrementalSearch: true
    incrementalSearchVisitDirection: "relative"
    moveToFirstCharacterOnVerticalMotion: false
    stayOnYank: true
